/*RESET CSS BEGIN*/


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    /*line-height: 1;*/
    /*font-family: 'Montserrat', sans-serif;*/
    font-family: 'Roboto', sans-serif;
/*    font-family: 'Advent Pro', sans-serif;*/
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

/*RESET CSS END*/


/*HELPER CLASS BEGIN*/
img {
  max-width: 100%;
}

.alignLeft {
    float: left;
}

.alignRight {
    float: right;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

strong,
b {
    font-weight: 700;
}

em,
i {
    font-style: italic;
}

p,
ul li,
ol li {
    font-size: 16px;
    line-height: 23px;
    margin: 0 0 20px 0;
}

ul li,
ol li {
    margin-bottom: 10px;
}


/*HELPER CLASS END*/

/* Bizz bar styles start */

/*#bizzbar{
  background:#4286f4;
  width:100%;
  text-align:center;
  color:#fff;
  padding:2px;
  overflow:hidden;
  height:30px;
  z-index:1000;
  font-family:Georgia;
  font-size:14px;
  line-height:30px;
  position:fixed;
  top:0;
  left:0;
  border-bottom:3px solid rgb(255,255,255);
  box-shadow:0 1px 5px rgba(0,0,0,.7)
}

#bizzbar button{-webkit-box-shadow:rgba(0,0,0,0.278431) 1px 1px 3px; background:#333;  border-bottom-left-radius:4px;  border-bottom-right-radius:4px;  border-top-left-radius:4px;  border-top-right-radius:4px;  border:none;  box-shadow:rgba(0,0,0,0.278431) 1px 1px 3px;  color:white;  cursor:pointer;  font-size:0.854em;  margin:0px 0px 0px 7px;  outline:none;  padding:2px 10px 1px;  position:relative;  text-decoration:initial}

#bizzbar button:hover {
    cursor: pointer;
    background: #444
}

#bizzbar button:active {
    top: 1px
}

close {
    width: 20px;
    height: 19px;
    bottom: 6px;
    right: 20px;
    background: url(https://hb-assets.s3.amazonaws.com/system/modules/hellobar/lib/sprite-8bit.png) no-repeat 0px -247px;
    position: absolute
}

close:hover {
    background: url(https://hb-assets.s3.amazonaws.com/system/modules/hellobar/lib/sprite-8bit.png) no-repeat 0px -228px;
    cursor: pointer;
    height: 19px
}

open {
    -webkit-box-shadow: rgba(0, 0, 0, 0.34902) 0px 0px 5px;
    background-image: url(https://hb-assets.s3.amazonaws.com/system/modules/hellobar/lib/sprite-8bit.png);
    background-position: 0px -8px;
    background-repeat: no-repeat no-repeat;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 3px solid rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.34902) 0px 0px 5px;
    display: block;
    height: 0px;
    outline: none;
    overflow: hidden;
    padding: 80px 0px 0px;
    position: absolute;
    right: 10px;
    top: -50px;
    width: 35px;
    z-index: 100;
    background-color: #eb593c;
    display: none
}

open:hover {
    background-color: #ff5a3d;
    cursor: pointer
}*/

/* Bizz bar styles end */

/* HERO VIDEO START BG*/

.video-container {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 60vh;
  overflow: hidden;
  z-index: -9999;
}

/* HERO VIDEO End BG*/

* {
    box-sizing: border-box;
    outline: 0;
    padding:0;
    margin:0;
  }

.wrapper {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

/* search box styles start */


.search-box-container {
  position: absolute;
  right: 20%;
  top: 13%;
  display: inline-block;
  box-sizing: content-box;
  height: 50px;
  width: 50px;
  padding: 0;
  background-color: #fff;
  border: 3px solid rgba(66,134,244,0.88);
  border-radius: 28px;
  overflow: hidden;
}
.search-box-container * {
  display: inline-block;
  margin: 0;
  height: 100%;
  padding: 5px;
  border: 0;
  outline: none;
}
.search-box {
  width: calc(100% - 50px);
  padding: 0 20px;
  float: left;
  font-family: "Lato";
  font-size: 1em;
  color: #212121;
  background-color: #fff;
}
.submit {
  float: right;
  width: 50px;
  left: 0;
  top: 0;
  font-size: 1.2em;
  text-align: center;
  cursor: pointer;
  background-color: #fff;
}
.fa-search {
  display: inline !important;
  line-height: 100%;
  pointer-event: none;
  color: rgba(66,134,244,0.88);
}






/* search box styles end */



/*Navigation bar + header style start */

/* drop down nav menu items styles START */

li a, .dropbtn {
    display: inline-block;
    /* color: #0A2A51; */
    color: rgba(1, 141, 202, 1);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* li a:hover, .dropdown:hover .dropbtn {
    background-color: transparent;
} */

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

/* drop down nav menu items styles END */
.login-btn-container {
  position: absolute;
  right: 12%;
  top: 20%;
  display: inline-block;
  z-index: 5;
}

header {
  /*background: transparent;*/
  /*max-width: 1160px;*/
  padding-top: 50px;
  margin: 0 auto;
  width: 100%;
  position: relative;
}

header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.85);
  transform: translateY(-200%);
  transition: 0.2s;
  z-index: 5;
}

body.scroll header.sticky {
  transform: translateY(0);
}

.nav-wrapper {
  max-width: 1200px;
  margin: auto;
  position: relative;
  padding: 7px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  display: inline-block;
  padding: 0 10px;
  margin-bottom: 0;
}

nav ul li a {
  font-size: 20px;
  line-height: 25px;
  text-decoration: none;
  /* color: #0A2A51; */
  color: rgba(1, 141, 202, 1);
  cursor: pointer;
  border-bottom: 1px solid tranparent;
  padding-bottom: 3px;
  transition: 0.3s;
}

nav ul li a:hover {
  border-bottom: 1px solid rgba(1, 141, 202, 1);
  transition: 0.3s;
}

header .logo img {
  max-width: 225px;
  margin-bottom: 10px;
}

/* Parallax main*/

.cover-main {
  /* background: linear-gradient(rgba(1, 141, 202, 1), rgba(1, 141, 202, .21));/*, url('../images/company-bldg.jpg') right bottom;*/
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) right bottom;/*, url('../images/company-bldg.jpg') right bottom; */
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  /*rgba(244, 211, 61, .6)*/
}

ul#scene li.name {
  text-align: center;
  font-style: italic;
  font-size: 40px;
  line-height: 45px;
  text-transform: uppercase;
  color: white;
  width: 100%;
}

ul#scene li.title {
  text-align: center;
  font-size: 30px;
  line-height: 35px;
  color: white;
  width: 100%;
  margin-top: 60px;
}

ul#scene {
  margin-top: 30px;
  /*margin-top: 100px;*/
}


.btn {
  width: 100%;
  text-align: center;
  margin-top: 150px;
}

.btn-sign-up {
  margin: 0 auto;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid white;
  border-radius: 4px;
  background: #1793bd;
  text-decoration: none;
  color: white;
  transition: 0.3s;
  margin-bottom: 25px;
}

.btn-sign-up:hover {
  text-decoration: none;
  color:white;
}

.portfolio-btn,
.contact-btn,
.btn-login {
  margin: 0 auto;
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid white;
  background: tranparent;
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.btn-login {
  padding-top: 15px;
  padding-bottom: 15px;
  /* color: #0A2A51; */
  color: rgba(1, 141, 202, 1);
}

.login-mobile-link {
  display:none;
}

.fa-lock {
  padding-right: 5px;
  /*color: rgba(66,134,244,0.88);*/
}

.hvr-rectangle-out {
  background: transparent;
}

.hvr-rectangle-out::before {
  background: #cccccc;
}

.portfolio-btn:hover,
.contact-btn:hover,
.btn-login:hover {
  background: transparent;/*white*/
  /*color: black;*/
  transition: 0.3s;
}

.portfolio-btn {
  margin-right: 30px;
}
.contact-btn {
  margin-left: 30px;
}
/* Parallax main END */

/* Masonry styles start*/
.masonry-grid {
  position: relative;
}
.grid {
  margin: 0 auto;
}

.grid-item {
  width: 450px;
  margin-bottom: 10px;
}

.tall-img {
  height: 680px;
}

h2.sub-title {
  position: relative;
  display: block;
  margin: 70px auto;
  text-align: center;
  font-size: 35px;
  line-height: 40px;
}

h2.sub-title::after {
  display: block;
  height: 2px;
  background: black;
  content: "";
  width: 100px;
  margin: 30px auto 0 auto;
}


/* Masonry styles end*/

/* Products section styles start */
 #advanced-solutions {
    background: url('../images/zig zag wool.png');
}
#advanced-solutions .wrapper {
  text-align: center;
  padding: 60px 20px;
}

.products-h2 {
  /*font-family: 'Advent Pro', sans-serif;*/
  font-family: 'Exo', sans-serif;
  text-transform: uppercase;
  margin-bottom: 40px;
  font-size: 45px;
  line-height: 50px;
  font-weight: 700;
  color: white; /*#3ecfef*/
}

.products-sub-para {
  /*font-family*/
  font-size: 22px;
  line-height: 27px;
  padding: 0 130px;
  color: white;
}

.col-4-app {
  width: 33.33%;
  float: left;
  padding: 0 45px;
}

.col-4-app p {
  /*font-family: 'Oswald', sans-serif;*/
    color: white;
  font-size: 18px;
  line-height: 23px;
}

.row {
    overflow: hidden;
    margin-top: 50px;
}

.row h3 {
  font-family: 'Advent Pro', sans-serif;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0;
}
/*.remote-monitor {
  width: 76%;
}*/


/* Products section styles end */

/* Intro video styles section */
#intro-video {
  /*background: rgba(66, 134, 244, 0.65);*/
}

#intro-video .wrapper {
   text-align: center;
   padding: 60px 10px;
}

#intro-video h2 {
  /*font-family: 'Oswald', sans-serif;*/
  font-family: 'Exo', sans-serif;
  font-size: 40px;
  line-height: 45px;
  font-weight: 200;
  margin-bottom: 40px;
}

#intro-video p {
  font-style: italic;
}

#intro-video img {
  margin-bottom: 40px;
  cursor: pointer;
}



/* Intro video styles section */

/*  news and events styles section  */
#news-events {
  text-align: center;
  padding: 60px 20px;
  background: url(../images/dust_scratches.png);
}

#news-events h2 {
  /*font-family*/
  font-size: 40px;
  line-height: 45px;
  margin-bottom: 40px;
}
p.date {
  font-size: 25px;
  line-height: 30px;
}

p.event {
  font-size: 25px;
  line-height: 30px;
}
p.date::after {
  display: block;
  height: 2px;
  background: black;
  content: "";
  width: 100px;
  margin: 30px auto 0 auto;
}

.col-2-app {
  width: 50%;
  float: left;
}
/*
.col-8-app {
  width: 75%;
  float: left;
}*/

/*  news and events styles section  */

/* Beating-heart section styles*/
#design-system-promotion {
    /*background: rgba(0,0,0,1), url(../images/designapp1.jpg) center repeat fixed;*/
    background:
    /* top, transparent red, faked with gradient */
    linear-gradient(
      rgba(0, 0, 0, 0.68),
      rgba(0, 0, 0, 0.68)
    ),
    /* bottom, image */
    url(../images/designapp4.jpg) center repeat fixed;/* repeat fixed*/
    text-align: center;
    background-size: cover;
    padding: 60px 20px;
    /* height: 35vh; */
}

.sub-design-title {
/*  font-family: 'Oswald', sans-serif;*/
  font-family: 'Advent Pro', sans-serif;
  /*margin-bottom: 15px;*/
  font-size: 40px;
  line-height: 45px;
  color: white;
}

.sub-design-para {
    color: white;
    font-size: 25px;
    line-height: 30px;
    margin-top: 30px;
}

.design-btn {
    text-decoration: none;
    padding: 10px 20px;
    margin-top: 20px;
    border: 1px solid white;
    background: white;
    color: black;
}
/* Beating-heart section styles*/

/* Social links section styles */
#social-links {
  background: rgba(1, 141, 202, .4);/* #e2bb46;*/
    overflow: hidden;
}
#social-links .wrapper {
    text-align: center;
    /*padding: 60px 20px;*/
}

#social-links h2 {
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 30px;
    line-height: 35px;
    color: white;
}


.col-3-app {
    width: 25%;
    float: left;
    margin-bottom: 30px
}

/*
col-3-app img {
  margin-bottom: 30px;
}
*/

.fa-linkedin-square {
    color: #0e76a8;
}
.fa-facebook-square {
    color: #3b5998;
}
.fa-twitter-square {
    color: #00aced;
}
.fa-youtube-square {
    color: #dd4b39;
}


/* Social links section styles */

footer {
    background-color: #222;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    text-align: center;
}

footer p {
    color: white;
    text-align: center;
/*    margin-top: 45px;*/
    margin-bottom: 0;
    font-size: 14px;
    font-family: 'Nunito-Regular';
}

.promotion-web-designer {
    color: white;
}

.promotion-web-designer:hover {
    color: white;
}

.sitemap {
    color: white;
}

.sitemap:hover {
  color: white;
}

/* video popup style start */
/**
 * Simple fade transition,
 */
.mfp-fade.mfp-bg {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}
/* video popup style end */

/* Media Queries */
/* responsive menu style rules */
@media only screen and (max-width: 768px) {


	.menu-trigger {
	   background: url('../images/hamburger-icon.svg') no-repeat center / cover;
	   width: 35px;
	   height: 35px;
	   z-index:10;
	   position:absolute;
	   right: 10px;
	   top: 15px;
	}

	.main-overlay {
	   position: fixed;
	   top:0;
	   right:0;
	   left:0;
	   bottom:0;
	   background:rgba(0,0,0, 0.72);
	   z-index:5;
	   display:none;
	}

	.main-overlay::after {
	   background: url('../images/close-icon.svg') no-repeat center / cover;
	   width: 35px;
	   height:35px;
	   display:block;
	   content: "";
	   position:fixed;
	   right:10px;
	   top:10px;
	   z-index:20;
	}

	.menu {
	   position:fixed;
	   top:0;
	   bottom:0;
	   left:0;
	   background: #131313;
	   width:100%;
	   max-width:300px;
	   z-index:30;
	   transform:translate3d(-100%,0,0);
	   transition:0.3s;
	}

	nav.nav-wrapper ul li {
	   display:block;
	   margin-top:20px;
	   padding: 0;
	   padding-bottom:20px;
	}

	nav.nav-wrapper ul li a {
	   font-size:18px;
	   line-height:23px;
	}

	nav.nav-wrapper ul li a:hover {
	   border-bottom: transparent;
	}

	body.menu-is-active .menu {
	   transform: translate3d(0,0,0);
	   display: block;
	   padding: 0 15px;
	}

	body.menu-is-active .main-overlay {
	   display: block;
	}

	body.menu-is-active .menu-trigger {
	   display: none;
	}

  .btn-login {
    display: none;
  }

}

@media only screen and (max-width: 2136px) {

  .login-btn-container {
      right: 23%;
  }
    /* ul#scene {
      margin-top: 100px;
    } */
}

@media only screen and (max-width: 1920px) {

    .login-btn-container {
        right: 19%;
    }
}

@media only screen and (max-width: 560px)
{

.products-h2 {
  font-size: 22px;
  line-height: 27px;
}

.products-sub-para {
  font-size: 12px;
  line-height: 17px;
}
.row h3 {
  font-size: 8px;
  line-height: 13px;
}

.video-container {
  display: none;
}

.cover-main {
  /* background: linear-gradient(rgba(1, 141, 202, 1), rgba(1, 141, 202, .21));/*, url('../images/company-bldg.jpg') right bottom;*/
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../images/company-bldg.jpg') right bottom;/*, url('../images/company-bldg.jpg') right bottom; */
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  /*rgba(244, 211, 61, .6)*/
}

  header .logo img {
    max-width: 100px;
    margin-bottom: 10px;
  }

	ul#scene li.name {
		font-size: 22px;
		line-height: 27px;
	}

	ul#scene li.title {
		font-size:20px;
		line-height:25px;
		margin-top: 40px;
	}
.btn {
margin-top:80px;

}

ul#scene {
margin-top:50px;

}

.portfolio-btn,
.contact-btn {
display:block;
margin:20px auto;
max-width:120px;
font-size:15px;
line-height:20px;
padding:10px 0;
}
.menu {
max-width: 200px;
}




}/*end media query at 560px*/
